/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/GalleryWTags/target
/GalleryWTags/nbproject/
/GalleryWTags/src/main/resources/database_old.db
/GalleryWTags/src/main/resources/database_old2.db